body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(purple-flower.jpg);
    background-position: 59%;
    background-size: auto;
    background-blend-mode: normal;
    background-repeat: no-repeat;
}

.Main{
    display: flex;
    justify-content: right;
    opacity: 0.9;
}

.registration-content-box{
    margin-top: 15%;
    margin-right: 30px;
    padding: 15px;
    background-color: rgba(105, 35, 105, 0.6);
    border: 1px solid lightpink;
    text-align: center;
    border-radius: 30px;

    
}

.registration-content-box > div{
    border: 1px solid lightpink;
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 20px;
    box-shadow: inset 3px 4px 8px lightcoral;
}

.registration-content-box h1{
    font-size: 40px;
    margin-bottom: 40px;
    color: rgb(161, 39, 135)
}

.registration-form > div{
    padding: 7px 0px;
    height: 33px;
    
}

.input-field{
    width: 85%;
    height: 100%;;
    border: none;
    outline: 0;
    border-bottom: 1px solid lightcoral;
    text-align: left;
    color: rgb(89, 27, 89);
    font-size: 16px;
    font-weight: 600;
    background: none;
    padding-left: 10px;
} 

.input-field::placeholder{
    color: rgb(153, 83, 153);
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}

.checkbox-field{
    margin: 13px 8px;
    text-align: left;
    font-size: 13px;
    font-weight: 650;
}

.rg-sign-btn{  
    height: 30px;
    width: 60%;
    border: none;
    font-size: 13px;
    font-weight: 700;
    border-radius: 30px;
    background: linear-gradient(to bottom right, rgb(149, 65, 149), rgb(211, 197, 235));
    transition: 0.15s opacity;
}

.rg-sign-btn:active{
    transform: translateX(3%) translateY(5%);
    background: linear-gradient(to bottom right, rgb(215, 82, 215), rgb(167, 143, 208));
}

.rg-sign-btn:hover{
    opacity: 0.7;
}